<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <script th:src="@{/js/jquery-3.1.0.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/bootstrap-theme.min.css}"></link>

    <script th:src="@{/js/simple.js}"></script>
    <title>创建账户</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">以太坊私有链</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/list">账户列表</a></li>
                <li class="active"><a href="/addAccount">创建账户</a></li>
                <li><a href="/transfer">转账</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid ">
    <div class="row col-md-12">
        <div class="col-md-2">请输入你的密码</div>
        <div class="col-md-10"><input name="password" id="password" type="password"/> </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-2">请重复输入你的密码</div>
        <div class="col-md-10"><input name="repeat" id="repeat" type="password"/> </div>
    </div>
    <div class="row col-md-12">
        <div class="col-md-4"><input type="button" id="addButton" value="创建账户"/></div>
    </div>

    <div class="row col-md-12" style="display: none" id="newAccoutDiv">
        <div class="col-md-4"><span id="addAccountResult"/></div>
    </div>
</div>
</body>
</html>